/****************************************************************
 Easy Recaptcha Login Styles
****************************************************************/
#login{
    width: 350px;
}
.g-recaptcha{
    margin-bottom: 20px;
    margin-top: 10px;
}
